<nav class="navbar navbar-expand-lg">
  <div class="main container-fluid">
    <div class="brand d-flex">
      <img src="../../assets/images/Hamburger.png" />
      <a class="my-auto navbar-brand" href="#"> E & D </a>
    </div>
    <div
      class="credentials d-flex justify-content-center align-items-center gap-2"
    >
      <button class="btn rounded-0">Login</button>
      <button class="btn rounded-0">Register</button>
      <div class="vr my-auto"></div>
      <div class="cart position-relative">
        <i class="fa-solid fa-cart-shopping my-auto"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle badge bg-danger"
        >
          0
        </span>
      </div>
    </div>
    <div
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
