<div class="main d-flex flex-column justify-content-around align-items-center">
  <hr class="horizontalA" />
  <div class="footer d-flex flex-row justify-content-around flex-wrap">
    <div class="description">
      <div class="brand d-flex">
        <img src="../../assets/images/Hamburger.png" />
        <a class="my-auto navbar-brand" href="#"> E & D </a>
      </div>
      <div class="paragraph">
        Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua
      </div>
    </div>
    <div class="linkdiv d-flex flex-column align-items-center">
      <ul class="navbar-nav">
        <div>Links</div>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="linkdiv d-flex flex-column align-items-center">
      <ul class="navbar-nav">
        <div>Help</div>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Return</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy policies</a>
        </li>
      </ul>
    </div>
    <div class="newsletter position-relative d-flex flex-column">
      <div>Newsletter</div>
      <input
        class="form-control"
        type="text"
        placeholder="Enter Your Email Address"
      />
      <button class="btn">Subscribe</button>
    </div>
  </div>
  <hr class="horizontalB" />
  <div class="rights">2023 All rights reserved</div>
</div>
