<div class="main d-flex justify-content-center align-items-center flex-wrap">
  <div class="main1">
    <img src="../../assets/images/Cook is making soup.png" />
  </div>
  <div class="main2 d-flex flex-column">
    <div class="main2sub1">About us</div>
    <div class="main2sub2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      elit esse cillum dolore eu fugiat nulla ...
    </div>
    <button class="main2sub3 btn">Read More</button>
  </div>
</div>
