<div class="main d-flex flex-column justify-content-center align-items-center">
  <div
    class="main1 d-flex flex-column justify-content-around align-items-center"
  >
    <div class="main1sub1">Get In Touch With Us</div>
    <div class="main1sub2">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident
    </div>
  </div>
  <div class="main2 d-flex justify-content-center flex-wrap">
    <div class="main2sub1 d-flex flex-wrap">
      <div class="imgdiv">
        <img
          src="../../assets/images/Support operator helps to solve the problem.png"
        />
      </div>
      <div class="info d-flex flex-column">
        <div class="details d-flex align-items-center">
          <div class="icondiv">
            <img src="../../assets/images/Location.png" />
          </div>
          <div class="deepinfo">
            Address
            <div>
              Casa 4 16135 Souza Rodovia,<br />
              Rio Tinto, MO 2520
            </div>
          </div>
        </div>
        <div class="details d-flex align-items-center">
          <div class="icondiv">
            <img src="../../assets/images/Phone.png" />
          </div>
          <div class="deepinfo">
            Phone
            <div>Mobile: +(84) 546-6789</div>
            <div>Hotline: +(84) 456-6789</div>
          </div>
        </div>
        <div class="details d-flex align-items-center">
          <div class="icondiv">
            <img src="../../assets/images/Email.png" />
          </div>
          <div class="deepinfo">
            Email
            <div>info&#64;example.com</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main2sub2 d-flex flex-column align-items-start">
      <div class="inputdiv d-flex flex-column">
        <label>Your Name</label>
        <input class="form-control" type="text" placeholder="Abc" />
      </div>
      <div class="inputdiv d-flex flex-column">
        <label>Email Address</label>
        <input
          class="form-control"
          type="email"
          placeholder="abc@example.com"
        />
      </div>
      <div class="inputdiv d-flex flex-column">
        <label>Subject</label>
        <input
          class="form-control"
          type="text"
          placeholder="This is an optional"
        />
      </div>
      <div class="textareadiv d-flex flex-column">
        <label>Message</label>
        <textarea
          class="form-control"
          type="text"
          placeholder="Hi! i d like to ask about"
        ></textarea>
      </div>
      <button class="btn">Submit</button>
    </div>
  </div>
</div>
