<div class="main d-flex flex-column justify-content-center align-items-center">
  <div
    class="main1 d-flex flex-column justify-content-around align-items-center"
  >
    <div class="main1sub1">Our Popular Menu</div>
    <div class="main1sub2">
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum ex ea commodo consequat. Duis aute
      irure dolor in repr ehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur
    </div>
    <div class="main1sub3 d-flex justify-content-center flex-wrap">
      <button class="btn active rounded-pill my-auto">
        <div>
          <img src="../../assets/images/HamburgerIcon.png" />
        </div>
        Burger
      </button>
      <button class="btn rounded-pill">
        <div>
          <img src="../../assets/images/PizzaIcon.png" />
        </div>
        Pizza
      </button>
      <button class="btn rounded-pill">
        <div>
          <img src="../../assets/images/SodaIcon.png" />
        </div>
        Drink
      </button>
      <button class="btn rounded-pill">
        <div>
          <img src="../../assets/images/DessertIcon.png" />
        </div>
        Dessert
      </button>
    </div>
  </div>
  <div class="main2 d-flex justify-content-center align-items-center flex-wrap">
    <div class="card d-flex justify-content-center">
      <div class="imgdiv">
        <img
          src="../../assets/images/Burger1.png"
          class="position-absolute top-0 start-50 translate-middle"
        />
        <i class="fa-sharp fa-solid fa-heart heart active position-absolute">
        </i>
      </div>
      <div class="card-body d-flex flex-column justify-content-around">
        <div>
          <h5 class="card-title">Spicy Chicken Burger</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>
        </div>
        <div class="d-flex align-items-center">
          <div
            class="counter btn d-flex justify-content-center align-items-center"
          >
            <div class="minus">-</div>
            <div class="number rounded-3">1</div>
            <div class="plus">+</div>
          </div>
          <div class="rate ms-auto">$ 30.00</div>
        </div>
      </div>
    </div>
    <div class="card d-flex justify-content-center">
      <div class="imgdiv">
        <img
          src="../../assets/images/Burger2.png"
          class="position-absolute top-0 start-50 translate-middle"
        />
        <img
          class="heart position-absolute"
          src="../../assets/images/Heart.png"
        />
      </div>
      <div class="card-body d-flex flex-column justify-content-around">
        <div>
          <h5 class="card-title">Spicy Beef Burger</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>
        </div>
        <div class="d-flex align-items-center">
          <button
            class="cart btn d-flex justify-content-center align-items-center"
          >
            <img src="../../assets/images/Shopping Cart.png" alt="" />
          </button>
          <div class="rate ms-auto">$ 30.00</div>
        </div>
      </div>
    </div>
    <div class="card d-flex justify-content-center">
      <div class="imgdiv">
        <img
          src="../../assets/images/Burger3.png"
          class="position-absolute top-0 start-50 translate-middle"
        />
        <img
          class="heart position-absolute"
          src="../../assets/images/Heart.png"
        />
      </div>
      <div class="card-body d-flex flex-column justify-content-around">
        <div>
          <h5 class="card-title">Potato Burger</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>
        </div>
        <div class="d-flex align-items-center">
          <button
            class="cart btn d-flex justify-content-center align-items-center"
          >
            <img src="../../assets/images/Shopping Cart.png" alt="" />
          </button>
          <div class="rate ms-auto">$ 30.00</div>
        </div>
      </div>
    </div>
    <div class="card d-flex justify-content-center">
      <div class="imgdiv">
        <img
          src="../../assets/images/Burger4.png"
          class="position-absolute top-0 start-50 translate-middle"
        />
        <img
          class="heart position-absolute"
          src="../../assets/images/Heart.png"
        />
      </div>
      <div class="card-body d-flex flex-column justify-content-around">
        <div>
          <h5 class="card-title">Zinger Burger</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>
        </div>
        <div class="d-flex align-items-center">
          <button
            class="cart btn d-flex justify-content-center align-items-center"
          >
            <img src="../../assets/images/Shopping Cart.png" alt="" />
          </button>
          <div class="rate ms-auto">$ 30.00</div>
        </div>
      </div>
    </div>
    <div class="card d-flex justify-content-center">
      <div class="imgdiv">
        <img
          src="../../assets/images/Burger5.png"
          class="position-absolute top-0 start-50 translate-middle"
        />
        <img
          class="heart position-absolute"
          src="../../assets/images/Heart.png"
        />
      </div>
      <div class="card-body d-flex flex-column justify-content-around">
        <div>
          <h5 class="card-title">Cheese Chicken Burger</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>
        </div>
        <div class="d-flex align-items-center">
          <button
            class="cart btn d-flex justify-content-center align-items-center"
          >
            <img src="../../assets/images/Shopping Cart.png" alt="" />
          </button>
          <div class="rate ms-auto">$ 30.00</div>
        </div>
      </div>
    </div>
    <div class="card d-flex justify-content-center">
      <div class="imgdiv">
        <img
          src="../../assets/images/Burger6.png"
          class="position-absolute top-0 start-50 translate-middle"
        />
        <img
          class="heart position-absolute"
          src="../../assets/images/Heart.png"
        />
      </div>
      <div class="card-body d-flex flex-column justify-content-around">
        <div>
          <h5 class="card-title">Crispy Chicken Burger</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
          </p>
        </div>
        <div class="d-flex align-items-center">
          <button
            class="cart btn d-flex justify-content-center align-items-center"
          >
            <img src="../../assets/images/Shopping Cart.png" alt="" />
          </button>
          <div class="rate ms-auto">$ 30.00</div>
        </div>
      </div>
    </div>
  </div>
  <div class="main3">
    <div class="main3sub1 d-flex justify-content-end flex-wrap">
      <button
        class="leftarrow btn d-flex justify-content-center align-items-center"
      >
        <i class="fa-solid fa-arrow-left-long"></i>
      </button>
      <button
        class="rightarrow btn d-flex justify-content-center align-items-center"
      >
        <i class="fa-solid fa-arrow-right-long"></i>
      </button>
    </div>
  </div>
</div>
