<div class="main d-flex justify-content-around align-items-center flex-wrap">
  <div class="main1">
    <div class="main1sub1 d-flex align-items-center">
      <div class="fast">Fast</div>
      <div class="food">Food Delivery</div>
    </div>
    <div class="main1sub2">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur.
    </div>
    <div class="main1sub3 d-flex align-items-center">
      <button class="btn rounded-pill shadow-lg">order now</button>
      <div class="d-flex align-items-center">
        <button class="btn rounded-circle">
          <i class="fa-solid fa-play"></i>
        </button>
        Watch Video
      </div>
    </div>
    <div class="main1sub4 d-flex">
      <button class="btn rounded-pill">
        <img class="rounded-circle" src="../../assets/images/Hamburger.png" />
        <div class="option">Burger</div>
      </button>
      <button class="btn rounded-pill">
        <img class="rounded-circle" src="../../assets/images/Pizza.png" />
        <div class="option">Pizza</div>
      </button>
      <button class="btn rounded-pill">
        <img class="rounded-circle" src="../../assets/images/Iced Coffee.png" />
        <div class="option">Drink</div>
      </button>
      <button class="btn rounded-pill">
        <img
          class="rounded-circle"
          src="../../assets/images/Cherry Cheesecake.png"
        />
        <div class="option">Dessert</div>
      </button>
    </div>
  </div>
  <div class="main2">
    <img src="../../assets/images/Top Main.png" />
  </div>
</div>
